.input-box {
    margin: 20px;
  }
  
  .input-box input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    height: 400%;
  }
  
  .input-box button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .input-box button:hover {
    background-color: #0056b3;
  }
  